<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- <link ref="stylesheet" href="../static/css/style.css"> -->
    <link rel="stylesheet" href="../static/css/SHdashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="container">
        <div>
            <h1>Hot Topics</h1>
            <nav>
                <ul>
                    <li><a href="/logout"><img class="logout-button" src="../static/img/logout.png"></a></li>
                    <li><a href="/create">Create Topic</a></li>
                    <li><a href="/user/{{user.id}}">Profile</a></li>
                </ul>
            </nav>
            <h2>Welcome {{user.f_name}}!</h2>
            {% with attempt_vote = get_flashed_messages(category_filter = ['attempt_vote']) %}
            {% if attempt_vote %}
            {% for msg in attempt_vote %}
            <p class="warning-message"><strong>Error:</strong></p>
            <p class="warning-message">{{msg}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Posted By</th>
                            <th>Results</th>
                            <th>Actions</th> <!-- conditional rendering for logged in user and post's owner-->
                        </tr>
                    </thead>
                    <tbody>
                        {% for topic in all_topics %}
                        <tr class="table-info">
                            <td>{{topic.title}}</td>
                            <td>{{topic.creator.f_name}} {{topic.creator.l_name}}</td>
                            <td><a href="/results/{{topic.id}}">View Results</a></td>
                            <td class="action-links">
                                <a href="/view_topic/{{topic.id}}" class="">Vote</a>
                                {% if topic.creator.id == session['user_id'] %}
                                <a href="/view_topic/{{topic.id}}/edit" class="">Edit</a>
                                <a href="/view_topic/{{topic.id}}/delete">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="footer">
            <p></p>
        </div>
    </div>
    <!-- <script></script> -->
</body>

</html>